<!DOCTYPE html>
<html>
    <head>
        <title>Indice</title>
    </head>

    <body>
        <h1>Gestor Académico</h1>
        <a href="{% url 'crear_alumno' %}">Crear Alumno</a><br>
        <a href="{% url 'agregar_curso'%}">Crear nuevo curso</a><br>
        <a href="{% url 'subir_notas' %}">Subir notas</a><br>
        <a href="{% url 'lista_cursos' %}">Ver todos los Cursos</a><br>
        <a href="{% url 'lista_alumnos' %}">Ver todas los Alumnos</a><br>
        <a href="{% url 'lista_notas' %}">Ver todas las notas</a><br>
    </body>
</html>
